name: Angle-hsdk123-master

on: [push, pull_request]

jobs:
  build:
    name: ${{ matrix.target }}
    runs-on: macos-latest
    strategy:
      matrix:
        target: ["mac"]
    env:
      # Bump this to fetch a newer version
      ANGLE_VERSION: 4134
    steps:
    - uses: actions/checkout@v1
    - name: Clone
      run: |
        git clone --depth=1 --branch chromium/${{ env.ANGLE_VERSION }} https://chromium.googlesource.com/angle/angle
    - name: Set up Python 2.7
      uses: actions/setup-python@v1
      with:
        python-version: 2.7
    - name: Dependencies
      run: |
        git clone https://chromium.googlesource.com/chromium/tools/depot_tools.git
        cd depot_tools
        cd ..
        export PATH="${{ github.workspace }}/depot_tools:$PATH"
        echo $PATH
    - name: Configure
      run: |
        mkdir angle\out
        mkdir angle\out\Release
        cp args-${{ matrix.target }}.gn angle\out\Release\args.gn
    - name: Generate
      run: |
        echo $PATH
        cd angle
        python scripts/bootstrap.py
        gclient sync
        git checkout master
        gn gen out/Release
    - name: Build
      run: |
        cd angle
        autoninja -C out/Release libEGL libGLESv2
    - name: Install
      run: |
        mkdir install
        mkdir install\lib
        mkdir install\bin
        mkdir install\include

        copy angle\out\Release\d3dcompiler_47.dll install\bin\
        copy angle\out\Release\libGLESv2.dll.lib install\lib\libGLESv2.lib
        copy angle\out\Release\libGLESv2.dll install\bin\
        copy angle\out\Release\libEGL.dll.lib install\lib\libEGL.lib
        copy angle\out\Release\libEGL.dll install\bin\
        xcopy /e angle\include\* install\include\
    - name: Upload artifacts
      uses: actions/upload-artifact@v1
      with:
        name: angle-${{ env.ANGLE_VERSION }}-${{ matrix.target }}
        path: install
